@charset "UTF-8";
@import "entypo-fonts";

[class^="icon-"], [class*=" icon-"] {
  font-family: entypo;
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  width: 1.1em;
  margin-right: .1em;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

/* main icon map */
.icon-phone:before { content: '\1f4de'; } /* 1f4de */
.icon-mobile:before { content: '\1f4f1'; } /* 1f4f1 */
.icon-mouse:before { content: '\e789'; } /* e789 */
.icon-address:before { content: '\e723'; } /* e723 */
.icon-mail:before { content: '\2709'; } /* 2709 */
.icon-paper-plane:before { content: '\e79b'; } /* e79b */
.icon-pencil:before { content: '\270e'; } /* 270e */
.icon-feather:before { content: '\2712'; } /* 2712 */
.icon-attach:before { content: '\1f4ce'; } /* 1f4ce */
.icon-inbox:before { content: '\e777'; } /* e777 */
.icon-reply:before { content: '\e712'; } /* e712 */
.icon-reply-all:before { content: '\e713'; } /* e713 */
.icon-forward:before { content: '\27a6'; } /* 27a6 */
.icon-user:before { content: '\1f464'; } /* 1f464 */
.icon-users:before { content: '\1f465'; } /* 1f465 */
.icon-add-user:before { content: '\e700'; } /* e700 */
.icon-vcard:before { content: '\e722'; } /* e722 */
.icon-export:before { content: '\e715'; } /* e715 */
.icon-location:before { content: '\e724'; } /* e724 */
.icon-map:before { content: '\e727'; } /* e727 */
.icon-compass:before { content: '\e728'; } /* e728 */
.icon-direction:before { content: '\27a2'; } /* 27a2 */
.icon-share:before { content: '\e73c'; } /* e73c */
.icon-shareable:before { content: '\e73e'; } /* e73e */
.icon-heart:before { content: '\2665'; } /* 2665 */
.icon-heart-empty:before { content: '\2661'; } /* 2661 */
.icon-star:before { content: '\2605'; } /* 2605 */
.icon-star-empty:before { content: '\2606'; } /* 2606 */
.icon-thumbs-up:before { content: '\1f44d'; } /* 1f44d */
.icon-thumbs-down:before { content: '\1f44e'; } /* 1f44e */
.icon-chat:before { content: '\e720'; } /* e720 */
.icon-comment:before { content: '\e718'; } /* e718 */
.icon-quote:before { content: '\275e'; } /* 275e */
.icon-home:before { content: '\2302'; } /* 2302 */
.icon-popup:before { content: '\e74c'; } /* e74c */
.icon-search:before { content: '\1f50d'; } /* 1f50d */
.icon-flashlight:before { content: '\1f526'; } /* 1f526 */
.icon-print:before { content: '\e716'; } /* e716 */
.icon-bell:before { content: '\1f514'; } /* 1f514 */
.icon-link:before { content: '\1f517'; } /* 1f517 */
.icon-flag:before { content: '\2691'; } /* 2691 */
.icon-cog:before { content: '\2699'; } /* 2699 */
.icon-tools:before { content: '\2692'; } /* 2692 */
.icon-trophy:before { content: '\1f3c6'; } /* 1f3c6 */
.icon-tag:before { content: '\e70c'; } /* e70c */
.icon-camera:before { content: '\1f4f7'; } /* 1f4f7 */
.icon-megaphone:before { content: '\1f4e3'; } /* 1f4e3 */
.icon-moon:before { content: '\263d'; } /* 263d */
.icon-palette:before { content: '\1f3a8'; } /* 1f3a8 */
.icon-leaf:before { content: '\1f342 '; } /* 1f342 */
.icon-note:before { content: '\266a'; } /* 266a */
.icon-beamed-note:before { content: '\266b'; } /* 266b */
.icon-graduation-cap:before { content: '\1f393 '; } /* 1f393 */
.icon-book:before { content: '\1f4d5 '; } /* 1f4d5 */
.icon-newspaper:before { content: '\1f4f0'; } /* 1f4f0 */
.icon-bag:before { content: '\1f45c'; } /* 1f45c */
.icon-lifebuoy:before { content: '\e788'; } /* e788 */
.icon-eye:before { content: '\e70a'; } /* e70a */
.icon-clock:before { content: '\1f554'; } /* 1f554 */
.icon-mic:before { content: '\1f3a4'; } /* 1f3a4 */
.icon-calendar:before { content: '\1f4c5'; } /* 1f4c5 */
.icon-flash:before { content: '\26a1'; } /* 26a1 */
.icon-thunder-cloud:before { content: '\26c8'; } /* 26c8 */
.icon-droplet:before { content: '\1f4a7'; } /* 1f4a7 */
.icon-cd:before { content: '\1f4bf'; } /* 1f4bf */
.icon-briefcase:before { content: '\1f4bc'; } /* 1f4bc */
.icon-air:before { content: '\e753'; } /* e753 */
.icon-hourglass:before { content: '\23f3'; } /* 23f3 */
.icon-gauge:before { content: '\e7a2'; } /* e7a2 */
.icon-language:before { content: '\e752'; } /* e752 */
.icon-network:before { content: '\e776'; } /* e776 */
.icon-key:before { content: '\1f511'; } /* 1f511 */
.icon-battery:before { content: '\1f50b'; } /* 1f50b */
.icon-bucket:before { content: '\e756'; } /* e756 */
.icon-magnet:before { content: '\e7a1'; } /* e7a1 */
.icon-drive:before { content: '\e755'; } /* e755 */
.icon-cup:before { content: '\2615'; } /* 2615 */
.icon-rocket:before { content: '\1f680'; } /* 1f680 */
.icon-brush:before { content: '\e79a'; } /* e79a */
.icon-suitcase:before { content: '\e78e'; } /* e78e */
.icon-traffic-cone:before { content: '\e7a3'; } /* e7a3 */
.icon-globe:before { content: '\1f30e'; } /* 1f30e */
.icon-keyboard:before { content: '\2328'; } /* 2328 */
.icon-publish:before { content: '\e74d'; } /* e74d */
.icon-progress-3:before { content: '\e76b'; } /* e76b */
.icon-progress-2:before { content: '\e76a'; } /* e76a */
.icon-progress-1:before { content: '\e769'; } /* e769 */
.icon-progress-0:before { content: '\e768'; } /* e768 */
.icon-light-down:before { content: '\1f505'; } /* 1f505' */
.icon-light-up:before { content: '\1f506'; } /* 1f506 */
.icon-adjust:before { content: '\25d1'; } /* 25d1 */
.icon-code:before { content: '\e714'; } /* e714 */
.icon-monitor:before { content: '\1f4bb'; } /* 1f4bb */
.icon-infinity:before { content: '\221e'; } /* 221e */
.icon-credit-card:before { content: '\1f4b3'; } /* 1f4b3 */
.icon-database:before { content: '\e754'; } /* e754 */
.icon-clipboard:before { content: '\1f4cb'; } /* 1f4cb */
.icon-box:before { content: '\1f4e6'; } /* 1f4e6 */
.icon-ticket:before { content: '\1f3ab'; } /* 1f3ab */
.icon-rss:before { content: '\e73a'; } /* e73a */
.icon-signal:before { content: '\1f4f6'; } /* 1f4f6 */
.icon-thermometer:before { content: '\e757'; } /* e757 */
.icon-water:before { content: '\1f4a6'; } /* 1f4a6 */
.icon-sweden:before { content: '\f601'; } /* f601 */
.icon-lock:before { content: '\1f512'; } /* 1f512 */
.icon-lock-open:before { content: '\1f513'; } /* 1f513 */
.icon-logout:before { content: '\e741'; } /* e741 */
.icon-login:before { content: '\e740'; } /* e740 */
.icon-check:before { content: '\2713'; } /* 2713 */
.icon-squared-plus:before { content: '\229e'; } /* 229e */
.icon-squared-minus:before { content: '\229f'; } /* 229f */
.icon-circled-plus:before { content: '\2795'; } /* 2795 */
.icon-circled-minus:before { content: '\2796'; } /* 2796 */
.icon-plus:before { content: '\2b'; } /* 2b */
.icon-minus:before { content: '\2d'; } /* 2d */
.icon-erase:before { content: '\232b'; } /* 232b */
.icon-block:before { content: '\1f6ab'; } /* 1f6ab */
.icon-info:before { content: '\2139'; } /* 2139 */
.icon-circled-info:before { content: '\e705'; } /* e705 */
.icon-help:before { content: '\2753'; } /* 2753 */
.icon-circled-help:before { content: '\e704'; } /* e704 */
.icon-ccw:before { content: '\27f2'; } /* 27f2 */
.icon-cw:before { content: '\27f3'; } /* 27f3 */
.icon-shuffle:before { content: '\1f500'; } /* 1f500 */
.icon-back:before { content: '\1f519'; } /* 1f519 */
.icon-level-up:before { content: '\21b0'; } /* 21b0 */
.icon-level-down:before { content: '\21b3'; } /* 21b3 */
.icon-retweet:before { content: '\e717'; } /* e717 */
.icon-loop:before { content: '\1f501'; } /* 1f501 */
.icon-back-in-time:before { content: '\e771'; } /* e771 */
.icon-switch:before { content: '\21c6'; } /* 21c6 */
.icon-layout:before { content: '\268f'; } /* 268f */
.icon-list:before { content: '\2630'; } /* 2630 */
.icon-doc:before { content: '\e730'; } /* e730 */
.icon-docs:before { content: '\e736'; } /* e736 */
.icon-text-doc-inverted:before { content: '\e731'; } /* e731 */
.icon-landscape-doc:before { content: '\e737'; } /* e737 */
.icon-picture:before { content: '\1f304'; } /* 1f304 */
.icon-video:before { content: '\1f3ac'; } /* 1f3ac */
.icon-music:before { content: '\1f3b5'; } /* 1f3b5 */
.icon-folder:before { content: '\1f4c1 '; } /* 1f4c1 */
.icon-archive:before { content: '\e738'; } /* e738 */
.icon-trash:before { content: '\e729'; } /* e729 */
.icon-upload:before { content: '\1f4e4'; } /* 1f4e4 */
.icon-download:before { content: '\1f4e5'; } /* 1f4e5 */
.icon-install:before { content: '\e778'; } /* e778 */
.icon-cloud:before { content: '\2601'; } /* 2601 */
.icon-upload-cloud:before { content: '\e711'; } /* e711 */
.icon-bookmark:before { content: '\1f516'; } /* 1f516 */
.icon-bookmarks:before { content: '\1f4d1'; } /* 1f4d1 */
.icon-play:before { content: '\25b6'; } /* 25b6 */
.icon-paus:before { content: '\2389'; } /* 2389 */
.icon-record:before { content: '\26ab'; } /* 26ab */
.icon-stop:before { content: '\25a0'; } /* 25a0 */
.icon-to-end:before { content: '\23ed'; } /* 23ed */
.icon-to-start:before { content: '\23ee'; } /* 23ee */
.icon-resize-full:before { content: '\e744'; } /* e744 */
.icon-resize-small:before { content: '\e746'; } /* e746 */
.icon-volume:before { content: '\e742'; } /* e742 */
.icon-sound:before { content: '\1f50a'; } /* 1f50a */
.icon-mute:before { content: '\1f507'; } /* 1f507 */
.icon-flow-cascade:before { content: '\e790'; } /* e790 */
.icon-flow-branch:before { content: '\e791'; } /* e791 */
.icon-flow-tree:before { content: '\e792'; } /* e792 */
.icon-flow-line:before { content: '\e793'; } /* e793 */
.icon-flow-parallel:before { content: '\e794'; } /* e794 */
.icon-left-bold:before { content: '\e4ad'; } /* e4ad */
.icon-right-bold:before { content: '\e4ae'; } /* e4ae */
.icon-up-bold:before { content: '\e4af'; } /* e4af */
.icon-down-bold:before { content: '\e4b0'; } /* e4b0 */
.icon-left:before { content: '\261c'; } /* 261c */
.icon-up:before { content: '\261d'; } /* 261d */
.icon-right:before { content: '\261e'; } /* 261e */
.icon-down:before { content: '\261f'; } /* 261f */
.icon-circled-down:before { content: '\e758'; } /* e758 */
.icon-circled-left:before { content: '\e759'; } /* e759 */
.icon-circled-right:before { content: '\e75a'; } /* e75a */
.icon-circled-up:before { content: '\e75b'; } /* e75b */
.icon-left-thin:before { content: '\2190'; } /* 2190 */
.icon-up-thin:before { content: '\2191'; } /* 2191 */
.icon-right-thin:before { content: '\2192'; } /* 2192 */
.icon-down-thin:before { content: '\2193'; } /* 2193 */
.icon-arrow-combo:before { content: '\e74f'; } /* e74f */
.icon-dot:before { content: '\e78b'; } /* e78b */
.icon-two-dots:before { content: '\e78c'; } /* e78c */
.icon-three-dots:before { content: '\e78d'; } /* e78d */
.icon-cc:before { content: '\e7a5'; } /* e7a5 */
.icon-cc-by:before { content: '\e7a6'; } /* e7a6 */
.icon-cc-nc:before { content: '\e7a7'; } /* e7a7 */
.icon-cc-nc-eu:before { content: '\e7a8'; } /* e7a8 */
.icon-cc-nc-jp:before { content: '\e7a9'; } /* e7a9 */
.icon-cc-sa:before { content: '\e7aa'; } /* e7aa */
.icon-cc-nd:before { content: '\e7ab'; } /* e7ab */
.icon-cc-pd:before { content: '\e7ac'; } /* e7ac */
.icon-cc-zero:before { content: '\e7ad'; } /* e7ad */
.icon-cc-share:before { content: '\e7ae'; } /* e7ae */
.icon-cc-remix:before { content: '\e7af'; } /* e7af */
.icon-db-logo:before { content: '\f603'; } /* f603 */
.icon-db-shape:before { content: '\f600'; } /* f600 */
.icon-save:before { content: '\1f4be'; } /* 1f4be */
.icon-ff:before { content: '\23e9'; } /* 23e9 */
.icon-fb:before { content: '\23ea'; } /* 23ea */
.icon-pie-chart:before { content: '\e751'; } /* e751 */
.icon-line-graph:before { content: '\1f4c8'; } /* 1f4c8 */
.icon-bar-graph:before { content: '\1f4ca '; } /* 1f4ca */
.icon-area-graph:before { content: '\1f53e'; } /* 1f53e */
.icon-chevron-down:before { content: '\e75c'; } /* e75c */
.icon-chevron-left:before { content: '\e75d'; } /* e75d */
.icon-chevron-right:before { content: '\e75e'; } /* e75e */
.icon-chevron-up:before { content: '\e75f'; } /* e75f */
.icon-chevron-small-down:before { content: '\e760'; } /* e760 */
.icon-chevron-small-left:before { content: '\e761'; } /* e761 */
.icon-chevron-small-right:before { content: '\e762'; } /* e762 */
.icon-chevron-small-up:before { content: '\e763'; } /* e763 */
.icon-chevron-thin-down:before { content: '\e764'; } /* e764 */
.icon-chevron-thin-left:before { content: '\e765'; } /* e765 */
.icon-chevron-thin-right:before { content: '\e766'; } /* e766 */
.icon-chevron-thin-up:before { content: '\e767'; } /* e767 */
.icon-text-doc:before { content: '\1f4c4'; } /* 1f4c4 */
.icon-open-book:before { content: '\1f4d6'; } /* 1f4d6 */
.icon-voicemail:before { content: '\2707'; } /* 2707 */
.icon-triangle-right:before { content: '\25b8'; } /* 25b8 */
.icon-triangle-up:before { content: '\25b4'; } /* 25b4 */
.icon-triangle-down:before { content: '\25be'; } /* 25be */
.icon-triangle-left:before { content: '\25c2'; } /* 25c2 */
.icon-airplane:before { content: '\2708'; } /* 2708 */
.icon-light-bulb:before { content: '\1f4a1'; } /* 1f4a1 */
.icon-add-to-list:before { content: '\e003'; } /* e003 */
.icon-browser:before { content: '\e74e'; } /* e74e */
.icon-cart:before { content: '\e73d'; } /* e73d */
.icon-cross-hair:before { content: '\1f3af'; } /* 1f3af */
.icon-squared-cross:before { content: '\274e'; } /* 274e */
.icon-circled-cross:before { content: '\2716'; } /* 2716 */
.icon-warning:before { content: '\26a0'; } /* 26a0 */
.icon-cross:before { content: '\2715'; } /* 2715 */
.icon-new:before { content: '\1f4a5'; } /* 1f4a5 */
.icon-cycle:before { content: '\1f504'; } /* 1f504 */
.icon-numbered-list:before { content: '\e005'; } /* e005 */
.icon-right-1:before { content: '\27a1'; } /* 27a1 */
.icon-left-1:before { content: '\2b05'; } /* 2b05 */
.icon-up-1:before { content: '\2b06'; } /* 2b06 */
.icon-down-1:before { content: '\2b07'; } /* 2b07 */

/* social extention map */
.icon-social-github:before { content: '\f300'; } /* f300 */
.icon-social-social-c-github:before { content: '\f301'; } /* f301 */
.icon-social-flickr:before { content: '\f303'; } /* f303 */
.icon-social-c-flickr:before { content: '\f304'; } /* f304 */
.icon-social-vimeo:before { content: '\f306'; } /* f306 */
.icon-social-c-vimeo:before { content: '\f307'; } /* f307 */
.icon-social-twitter:before { content: '\f309'; } /* f309 */
.icon-social-c-twitter:before { content: '\f30a'; } /* f30a */
.icon-social-facebook:before { content: '\f30c'; } /* f30c */
.icon-social-c-facebook:before { content: '\f30d'; } /* f30d */
.icon-social-s-facebook:before { content: '\f30e'; } /* f30e */
.icon-social-google+:before { content: '\f30f'; } /* f30f */
.icon-social-c-google+:before { content: '\f310'; } /* f310 */
.icon-social-pinterest:before { content: '\f312'; } /* f312 */
.icon-social-c-pinterest:before { content: '\f313'; } /* f313 */
.icon-social-tumblr:before { content: '\f315'; } /* f315 */
.icon-social-c-tumblr:before { content: '\f316'; } /* f316 */
.icon-social-linkedin:before { content: '\f318'; } /* f318 */
.icon-social-c-linkedin:before { content: '\f319'; } /* f319 */
.icon-social-dribbble:before { content: '\f31b'; } /* f31b */
.icon-social-c-dribbble:before { content: '\f31c'; } /* f31c */
.icon-social-stumbleupon:before { content: '\f31e'; } /* f31e */
.icon-social-c-stumbleupon:before { content: '\f31f'; } /* f31f */
.icon-social-lastfm:before { content: '\f321'; } /* f321 */
.icon-social-c-lastfm:before { content: '\f322'; } /* f322 */
.icon-social-rdio:before { content: '\f324'; } /* f324 */
.icon-social-c-rdio:before { content: '\f325'; } /* f325 */
.icon-social-spotify:before { content: '\f327'; } /* f327 */
.icon-social-c-spotify:before { content: '\f328'; } /* f328 */
.icon-social-qq:before { content: '\f32a'; } /* f32a */
.icon-social-instagram:before { content: '\f32d'; } /* f32d */
.icon-social-dropbox:before { content: '\f330'; } /* f330 */
.icon-social-evernote:before { content: '\f333'; } /* f333 */
.icon-social-flattr:before { content: '\f336'; } /* f336 */
.icon-social-skype:before { content: '\f339'; } /* f339 */
.icon-social-c-skype:before { content: '\f33a'; } /* f33a */
.icon-social-renren:before { content: '\f33c'; } /* f33c */
.icon-social-sina-weibo:before { content: '\f33f'; } /* f33f */
.icon-social-paypal:before { content: '\f342'; } /* f342 */
.icon-social-picasa:before { content: '\f345'; } /* f345 */
.icon-social-soundcloud:before { content: '\f348'; } /* f348 */
.icon-social-mixi:before { content: '\f34b'; } /* f34b */
.icon-social-behance:before { content: '\f34e'; } /* f34e */
.icon-social-google-circles:before { content: '\f351'; } /* f351 */
.icon-social-vk:before { content: '\f354'; } /* f354 */
.icon-social-smashing:before { content: '\f357'; } /* f357 */
