@font-face {
  font-family: 'entypo';
  src: asset-url('entypo.eot');
  src: asset-url('entypo.eot?#iefix') format('embedded-opentype'),
       asset-url('entypo.woff') format('woff'),
       asset-url('entypo.ttf') format('truetype'),
       asset-url('entypo.svg#entypo') format('svg');
  font-weight: normal; font-style: normal;
}
